<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dish Up!!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}">
</head>

<body>
    <div class="container">
        <h1>Dish Up!!</h1>
        <p>Upload a photo of your plate taken from about 30 cm above!</p>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button>
        </form>
    </div>
</body>

</html>
